### Dotfile's config ###

### Git Aliases ###
{{- includeTemplate "dot_config/git/configs/alias" | nindent 0 }}

### Git Core Config ###
{{- includeTemplate "dot_config/git/configs/core" | nindent 0 }}

### Git Delta Config ###
{{- includeTemplate "dot_config/git/configs/delta" | nindent 0 }}

### Git Fast Forward Config ###
{{- includeTemplate "dot_config/git/configs/fast_forward" | nindent 0 }}

### Git GHQ Config ###
{{- includeTemplate "dot_config/git/configs/ghq" | nindent 0 }}

### Git Push Config ###
{{- includeTemplate "dot_config/git/configs/push" | nindent 0 }}

### Git User Config ###
{{- includeTemplate "dot_config/git/configs/user.tmpl" | nindent 0 }}

### Git Vimdiff Config ###
{{- includeTemplate "dot_config/git/configs/vimdiff" | nindent 0 }}

### End ###
