[alias]
  alias = !"git config --get-regexp ^alias\\. | sort"

  s = status

  d = diff
  ds = diff --staged

  l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'

  a = add
  ap = add -p

  c = commit
  cm = commit -m

  ch = checkout

  b = branch

  sw = switch

  sc = switch -c
  sm = !git switch main && git pull

  pull-re = pull --rebase
  pull-rebase = pull --rebase

  reset-hard = reset --hard HEAD

  rebase-previous = rebase -i HEAD~
