<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_barChart_position</key>
	<integer>0</integer>
	<key>Battery_bar_chart_color</key>
	<string>utilization</string>
	<key>Battery_bar_chart_label</key>
	<true/>
	<key>Battery_batteryDetails_position</key>
	<integer>3</integer>
	<key>Battery_battery_additional</key>
	<string>none</string>
	<key>Battery_battery_position</key>
	<integer>4</integer>
	<key>Battery_color</key>
	<false/>
	<key>Battery_label_position</key>
	<integer>1</integer>
	<key>Battery_mini_position</key>
	<integer>2</integer>
	<key>Battery_notifications_low</key>
	<string>0.05</string>
	<key>Battery_position</key>
	<integer>6</integer>
	<key>Battery_state</key>
	<false/>
	<key>Battery_widget</key>
	<string>bar_chart</string>
	<key>Bluetooth_position</key>
	<integer>6</integer>
	<key>Bluetooth_state</key>
	<false/>
	<key>CPU_barChart_position</key>
	<integer>0</integer>
	<key>CPU_bar_chart_box</key>
	<true/>
	<key>CPU_bar_chart_color</key>
	<string>cluster</string>
	<key>CPU_bar_chart_frame</key>
	<false/>
	<key>CPU_bar_chart_label</key>
	<true/>
	<key>CPU_chartColor</key>
	<string>system</string>
	<key>CPU_label_position</key>
	<integer>2</integer>
	<key>CPU_lineChartScale</key>
	<string>none</string>
	<key>CPU_lineChart_position</key>
	<integer>3</integer>
	<key>CPU_mini_color</key>
	<string>utilization</string>
	<key>CPU_mini_label</key>
	<true/>
	<key>CPU_mini_position</key>
	<integer>1</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_position</key>
	<integer>1</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>bar_chart</string>
	<key>Clock_calendarWeekNumbers</key>
	<false/>
	<key>Clock_list</key>
	<data>
	W3sidHoiOiJsb2NhbCIsIm5hbWUiOiJMb2NhbCB0aW1lIiwiZW5hYmxlZCI6dHJ1ZSwi
	Zm9ybWF0IjoieXl5eS1NTS1kZCBISDptbTpzcyIsImlkIjoiOTI2NTAzOUYtODdCNi00
	NEIwLUIwRUEtRjczMkVCMjA5NTA1In1d
	</data>
	<key>Clock_position</key>
	<integer>8</integer>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_popup</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>8</string>
	<key>DF54C3CE-32F6-4AFD-A4FB-1E1794665A4B_details</key>
	<false/>
	<key>Disk_barChart_position</key>
	<integer>1</integer>
	<key>Disk_base</key>
	<string>byte</string>
	<key>Disk_disk</key>
	<string>Macintosh HD</string>
	<key>Disk_label_position</key>
	<integer>3</integer>
	<key>Disk_memory_color</key>
	<string>monochrome</string>
	<key>Disk_memory_position</key>
	<integer>5</integer>
	<key>Disk_memory_symbols</key>
	<true/>
	<key>Disk_mini_position</key>
	<integer>2</integer>
	<key>Disk_networkChart_position</key>
	<integer>0</integer>
	<key>Disk_notifications_utilization_state</key>
	<true/>
	<key>Disk_oneView</key>
	<true/>
	<key>Disk_pieChart_position</key>
	<integer>6</integer>
	<key>Disk_position</key>
	<integer>3</integer>
	<key>Disk_removable</key>
	<false/>
	<key>Disk_reverseOrder</key>
	<false/>
	<key>Disk_speed_icon</key>
	<string>chars</string>
	<key>Disk_speed_mode</key>
	<string>twoRows</string>
	<key>Disk_speed_monochrome</key>
	<false/>
	<key>Disk_speed_position</key>
	<integer>4</integer>
	<key>Disk_speed_reverseOrder</key>
	<false/>
	<key>Disk_speed_transparentIcons</key>
	<false/>
	<key>Disk_speed_value</key>
	<true/>
	<key>Disk_speed_valueAlignment</key>
	<string>right</string>
	<key>Disk_speed_valueColor</key>
	<false/>
	<key>Disk_state</key>
	<true/>
	<key>Disk_updateInterval</key>
	<integer>1</integer>
	<key>Disk_widget</key>
	<string>network_chart</string>
	<key>FAN_bar_chart_box</key>
	<false/>
	<key>FAN_bar_chart_color</key>
	<string>system</string>
	<key>FAN_bar_chart_frame</key>
	<false/>
	<key>GPU_barChart_position</key>
	<integer>0</integer>
	<key>GPU_bar_chart_color</key>
	<string>system</string>
	<key>GPU_bar_chart_label</key>
	<true/>
	<key>GPU_label_position</key>
	<integer>2</integer>
	<key>GPU_lineChart_position</key>
	<integer>3</integer>
	<key>GPU_mini_position</key>
	<integer>1</integer>
	<key>GPU_position</key>
	<integer>2</integer>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>4</integer>
	<key>GPU_widget</key>
	<string>bar_chart</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>Network_base</key>
	<string>byte</string>
	<key>Network_chartFixedScale</key>
	<integer>2</integer>
	<key>Network_chartScale</key>
	<string>none</string>
	<key>Network_label_position</key>
	<integer>1</integer>
	<key>Network_networkChart_position</key>
	<integer>0</integer>
	<key>Network_network_chart_box</key>
	<true/>
	<key>Network_network_chart_downloadColor</key>
	<string>secondBlue</string>
	<key>Network_network_chart_historyCount</key>
	<integer>30</integer>
	<key>Network_network_chart_label</key>
	<true/>
	<key>Network_network_chart_reverseOrder</key>
	<false/>
	<key>Network_network_chart_scale</key>
	<string>none</string>
	<key>Network_network_chart_uploadColor</key>
	<string>secondRed</string>
	<key>Network_position</key>
	<integer>4</integer>
	<key>Network_publicIP</key>
	<true/>
	<key>Network_speed_icon</key>
	<string>arrows</string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_position</key>
	<integer>3</integer>
	<key>Network_speed_reverseOrder</key>
	<false/>
	<key>Network_speed_units</key>
	<true/>
	<key>Network_state</key>
	<true/>
	<key>Network_state_activeColor</key>
	<string>secondGreen</string>
	<key>Network_state_position</key>
	<integer>2</integer>
	<key>Network_uploadColor</key>
	<string>secondRed</string>
	<key>Network_widget</key>
	<string>network_chart</string>
	<key>Network_widgetActivationThreshold</key>
	<integer>0</integer>
	<key>RAM_barChart_position</key>
	<integer>1</integer>
	<key>RAM_bar_chart_color</key>
	<string>pressure</string>
	<key>RAM_bar_chart_label</key>
	<false/>
	<key>RAM_chartColor</key>
	<string>system</string>
	<key>RAM_combinedProcesses</key>
	<false/>
	<key>RAM_freeColor</key>
	<string>lightGray</string>
	<key>RAM_label_position</key>
	<integer>0</integer>
	<key>RAM_lineChartScale</key>
	<string>none</string>
	<key>RAM_lineChart_position</key>
	<integer>5</integer>
	<key>RAM_memory_position</key>
	<integer>2</integer>
	<key>RAM_memory_symbols</key>
	<true/>
	<key>RAM_mini_color</key>
	<string>pressure</string>
	<key>RAM_mini_position</key>
	<integer>4</integer>
	<key>RAM_notifications_pressure_state</key>
	<true/>
	<key>RAM_notifications_pressure_value</key>
	<string>critical</string>
	<key>RAM_notifications_swap_state</key>
	<false/>
	<key>RAM_notifications_swap_value</key>
	<integer>15</integer>
	<key>RAM_pieChart_position</key>
	<integer>6</integer>
	<key>RAM_pie_chart_label</key>
	<false/>
	<key>RAM_pie_chart_monochrome</key>
	<false/>
	<key>RAM_position</key>
	<integer>0</integer>
	<key>RAM_processes</key>
	<integer>15</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_state_position</key>
	<integer>8</integer>
	<key>RAM_tachometer_position</key>
	<integer>7</integer>
	<key>RAM_text_position</key>
	<integer>3</integer>
	<key>RAM_widget</key>
	<string>label,bar_chart</string>
	<key>Remote_position</key>
	<integer>7</integer>
	<key>SSD_bar_chart_color</key>
	<string>utilization</string>
	<key>SSD_bar_chart_label</key>
	<true/>
	<key>SSD_network_chart_box</key>
	<true/>
	<key>SSD_network_chart_downloadColor</key>
	<string>secondBlue</string>
	<key>SSD_network_chart_frame</key>
	<false/>
	<key>SSD_network_chart_historyCount</key>
	<integer>30</integer>
	<key>SSD_network_chart_label</key>
	<true/>
	<key>SSD_network_chart_reverseOrder</key>
	<false/>
	<key>SSD_network_chart_scale</key>
	<string>none</string>
	<key>SSD_network_chart_uploadColor</key>
	<string>secondRed</string>
	<key>Sensors_barChart_position</key>
	<integer>2</integer>
	<key>Sensors_label_position</key>
	<integer>3</integer>
	<key>Sensors_mini_position</key>
	<integer>0</integer>
	<key>Sensors_oneView</key>
	<false/>
	<key>Sensors_popup_fanValue</key>
	<string>percentage</string>
	<key>Sensors_position</key>
	<integer>5</integer>
	<key>Sensors_sensor</key>
	<string>PSTR</string>
	<key>Sensors_stack_position</key>
	<integer>1</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_widget</key>
	<string>mini</string>
	<key>fan_0_mode</key>
	<integer>0</integer>
	<key>fan_0_speed</key>
	<integer>4039</integer>
	<key>pause</key>
	<false/>
	<key>remote_tokens_migrated_to_keychain</key>
	<true/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_Average CPU</key>
	<false/>
	<key>sensor_Average GPU</key>
	<false/>
	<key>sensor_Hottest CPU</key>
	<false/>
	<key>sensor_PCI Power</key>
	<false/>
	<key>sensor_PDTR</key>
	<true/>
	<key>sensor_TB1T</key>
	<false/>
	<key>sensor_TB2T</key>
	<false/>
	<key>sensor_TH0x</key>
	<false/>
	<key>sensor_TW0P</key>
	<false/>
	<key>sensor_Tm0p</key>
	<false/>
	<key>sensor_Total System Consumption</key>
	<false/>
	<key>sensor_Tp01_notification</key>
	<string></string>
	<key>sensor_Tp0e</key>
	<false/>
	<key>sensor_VD0R</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1779518017</integer>
	<key>telemetry</key>
	<true/>
	<key>update-interval</key>
	<string>Once per day</string>
	<key>updater_check_ts</key>
	<integer>1781883898</integer>
	<key>updater_install_ts</key>
	<integer>1781619658</integer>
	<key>version</key>
	<string>3.0.3</string>
</dict>
</plist>
