# Setting completions
{{ includeTemplate "zsh/config/docker.zsh" }}

# History config
{{ includeTemplate "zsh/config/history.zsh" }}

# Completion config
{{ includeTemplate "zsh/config/completion.zsh" }}

# Initialize and Load Sheldon
{{ includeTemplate "zsh/config/sheldon.zsh" }}

# eza command config
{{ includeTemplate "zsh/config/eza.zsh" }}

# cd config
{{ includeTemplate "zsh/config/cd.zsh" }}

# zoxide config
{{ includeTemplate "zsh/config/zoxide.zsh" }}

# ruby and rails config
{{ includeTemplate "zsh/config/ruby.zsh" }}

# python config
{{ includeTemplate "zsh/config/python.zsh" }}

# C language config
{{ includeTemplate "zsh/config/c.zsh" }}

# git config
{{ includeTemplate "zsh/config/git.zsh" }}

# dotfiles version management config
{{ includeTemplate "zsh/config/dotfiles.zsh" }}

# vim config
{{ includeTemplate "zsh/config/vim.zsh" }}

# pacman config
{{ includeTemplate "zsh/config/pacman.zsh" }}

# mise config
{{ includeTemplate "zsh/config/mise.zsh" }}

# yt-dlp config
{{ includeTemplate "zsh/config/yt-dlp.zsh" }}

# Homebrew config - Must be loaded AFTER all plugins (sheldon)
{{ includeTemplate "zsh/config/brew.zsh" }}

# Common config
{{ includeTemplate "zsh/config/common.zsh" }}
